doctype html
html
  head
    title Создть книгу
    link(rel='stylesheet', href='/public/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style.
        div.container {text-align: center;}
        div.form-group {margin-top: 10px;}
        button.btn {margin: 20px}
        label {display: block}


block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Создание книги

        // register form
        form(method='POST' action='/createBook')
          div.form-group
            label(for='name') Название
            input#name.form-control(type='text' placeholder='название книги' name='name')
          div.form-group
            label(for='author') Автор
            input#author.form-control(type='text' placeholder='автор книги' name='author')
          div.form-group
            label(for='picture') Фото
            input#picture.form-control(type='text', placeholder='url' name='picture')
          button.btn.btn-primary(type='submit') Создать